/**{
  border: 1px dashed red;
}*/

.editable{
  color: green;
  border: 1px solid green;
}

.clicked{
  color: blue;
  border: 1px solid purple;
}

h1 {
  color: blue;
}

td, th {
  min-width: 20px;
}

#editing{
  color: red;
}

